.itemPills {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.itemPillsInput {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  /* margin: 10px; */
  min-height: 50%;
  /* width: 50%; */
}

.itemPillsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: top;
  /* margin: 10px; */
  min-height: 50%;
  /* width: 50%; */
}

.pill {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-radius: 17px;
  border: 1px solid #5d3891;
  margin: 2px;
  height: 34px;
  width: fit-content;
  min-width: 45px;
  background-color: #c5a5f5;
}

.pillText {
  font-size: 15px;
  font-weight: 600;
  color: #5d3891;
  margin: 5px;
  border-radius: 15px 0 0 20px;
  line-height: 22px;
  padding: 0 0 0 10px;
}

.pillRemove {
  font-size: 30px;
  color: #5d3891;
  cursor: pointer;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 21px;
  /* padding-top: -5px; */
  margin: 2.5px 2.5px 2.5px 2px;
  border-radius: 15px;
  border: 1px solid #5d3891;
}
