/** Font faces, imported from Font Squirrel */
@font-face {
  font-family: 'hk_groteskbold';
  src: url('fonts/hkgrotesk-bold-webfont.woff') format('woff'),
       url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hk_groteskbold_italic';
  src: url('fonts/hkgrotesk-bolditalic-webfont.woff') format('woff'),
       url('fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'hk_groteskitalic';
    src: url('fonts/hkgrotesk-italic-webfont.woff') format('woff'),
         url('fonts/hkgrotesk-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "hk_groteskmedium";
  src: url('fonts/hkgrotesk-medium-webfont.woff') format('woff'),
       url('fonts/hkgrotesk-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: "hk_groteskregular";
  src: url("fonts/hkgrotesk-regular-webfont.woff"),
       url("fonts/hkgrotesk-bolditalic-webfont.woff2");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/** Foprmatting */

* {
  font-family: "hk_groteskregular", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "hk_groteskmedium", sans-serif;
  font-weight: 500;
  font-size: 42px;
  letter-spacing: 18px;
  text-align: center;
  padding: 8px 0 8px 0;
}

h2 {
  font-family: "hk_groteskmedium";
  font-size: 26px;
  letter-spacing: 8px;
  text-align: center;
  padding: 5px 0 5px 0;
}

h4 {
  font-family: hk_groteskbold;
  font-size: 22px;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.headingText {
  text-align: center;
  margin: 0;
  padding: 0 0 8px 0;
}

.cvTitle {
  opacity: 0.6;
  margin: 10px 0 10px 0;
}

.cvImage {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* .headerTitle { */
  /* margin-bottom: 15px; */
/* } */

.cvBody {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: auto;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0 30px 0;
  min-height: 80vh;
  border: 1px solid #e0e0ea;
}

.cvKeyPoints {
  background-color: #e8e2e2;
  width: 30%;
  padding: 10px;
}

.cvBodyTitle {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  text-align: center;
  text-wrap: nowrap;
  border-bottom: 1.5px solid black;
}

.cvTechSkillGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cvBullet {
  height: 30px;
  width: 30px;
  padding: 6px 0px 0px 2px;
}

.cvBulletedItem {
  padding: 0 0 0 10px;
}

.cvStory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 10px 0 10px 10px;
}

.cvBodyContent {
  text-align: justify;
  margin-bottom: 30px;
}
